body main #formfunction {
  background-color: brown;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

body main #formfunction input {
  color: black;
}

body main #formfunction input:valid {
  background: #b9f0b9;
}

body main #formfunction input:invalid {
  background: #f18080;
}
