body{
    main{
        #formfunction{
            background-color: brown;
            padding-top: 20px;
            padding-bottom: 10px;
            color:white; 
            input{
                color:black;
            }
            input:valid{
                background:rgb(185, 240, 185);
            }
            input:invalid{
                background: rgb(241, 128, 128);
            }
        }
        
    }
}