body{    
    main{        
       
        .container{
            .row{
                #panelLeft{
                    border:2px solid black;                  
                }
                #panelRight{
                 
                }
            }
            .modal-body{
                text-align: left;
            }

        }
        #formControl{
            input{
                color:black;
            }
            .form-group{                
                label{                    
                   width:30%;
                }
                input{
                    width:60%;
                }
            }
            padding:5px 0px;
            
        }
    }
    
}