body main .container .row #panelLeft {
  border: 2px solid black;
}

body main .container .modal-body {
  text-align: left;
}

body main #formControl {
  padding: 5px 0px;
}

body main #formControl input {
  color: black;
}

body main #formControl .form-group label {
  width: 30%;
}

body main #formControl .form-group input {
  width: 60%;
}
