body{
    background:rgb(245, 250, 221);
    text-align: center;
    header{
        background-color: rgb(208, 247, 147);
        h1{
            font-family: 'Bungee', cursive;
            font-size: 60px;
            padding:10px;
            border-bottom:4px solid rgb(11, 128, 11);
            border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;            
            -webkit-border-radius: 10px;             
            background-color:rgba(255, 255, 255, 0.822);            
        }
    }
    main{
        margin:10px 0  ;        
        #canvas{
            background-color: white;
            border:2px rgb(3, 80, 37) solid;
            box-sizing: content-box;
        }
    }
    footer{ 
             
        .row{       
                 
            .col-md-2{                
                margin: 0;
                padding:0;    
            }
            .col-md-10{
                margin-top:8px;
            }          
          
        }
    }
}