body {
  background: #f5fadd;
  text-align: center;
}

body header {
  background-color: #d0f793;
}

body header h1 {
  font-family: 'Bungee', cursive;
  font-size: 60px;
  padding: 10px;
  border-bottom: 4px solid #0b800b;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.822);
}

body main {
  margin: 10px 0;
}

body main #canvas {
  background-color: white;
  border: 2px #035025 solid;
  box-sizing: content-box;
}

body footer .row .col-md-2 {
  margin: 0;
  padding: 0;
}

body footer .row .col-md-10 {
  margin-top: 8px;
}
