<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
             <!-- Bootstrap core CSS -->
             <link href="./css/bootstrap.min.css" rel="stylesheet">
             <!-- Bootstrap theme -->
             <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
             <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
             <link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">
             
             <link rel="stylesheet" href="./css/cannonballgamestyle.min.css">
             <link rel="stylesheet" href="./css/gamestyle.min.css">
             <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
             
     
     
             <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
             <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
             <script src="./js/ie-emulation-modes-warning.js"></script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
             <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
             <script src="./js/bootstrap.min.js"></script>
             
             <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
             <script src="./js/ie10-viewport-bug-workaround.js"></script>
             <script src="./js/cannonballgame.js"></script>
        <title>Game Page</title>
    </head>
    <body>
        <header class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class='col-md-12'>
                        <h1>CannonBall Game</h1>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class='container'>
                <!-- Modal -->
                <div class="modal fade" id="myHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">INSTRUCTION</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    message    
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="row" >                        
                    <div class="col-md-12" id="panelcanvas">
                        <canvas id='canvas'  width="400" height="300">Your browser doesn't support the HTML5 element canvas</canvas>
                    </div>
                </div>
                <div class="row" >                        
                        <div class="col-md-12" id="function">
                            <form name="f" id='formfunction'>
                                <div class="form-group">                                  
                                    <label >Horizontal velocity: </label>
                                    <input  type="text" class="form-controll " name="hv" value="4" type="number" min="-10" max="10"/>
                                    <label >Vertical velocity: </label>
                                    <input  type="text" class="form-controll " name="vv" value="8" type="number" min="-10" max="10"/>
                               
                                </div>                                
                                <div class="form-group">                                  
                                    <button  class="btn btn-warning" id="changefunction"><b>CHANGE</b></button>
                                </div>
                            </form>
                        </div>
                    </div>    
            </div>
        </main>
        <footer>
            <div class='container'>
                    <div class="row">
                            <div class="col-md-2">
                                    <a href="/" class="btn btn-success btn-sm" id="backBtn">&larr; Back</a>
                            </div>
                            <div class="col-md-8">
                                   <p><b>Copyright &copy; NGUYEN NGOC TAN 2017</b></p>
                            </div>
                            <div class="col-md-2">
                                    <button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#myHelp"><span class="glyphicon glyphicon-info-sign"> Help</span></button>
                            </div>
                    </div>
            </div>
        </footer>
    </body>
</html>