<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
             <!-- Bootstrap core CSS -->
             <link href="./css/bootstrap.min.css" rel="stylesheet">
             <!-- Bootstrap theme -->
             <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
             <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
             <link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">
             
             <link rel="stylesheet" href="./css/dicegamestyle.min.css">
             <link rel="stylesheet" href="./css/gamestyle.min.css">
             <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
     
     
             <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
             <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
             <script src="./js/ie-emulation-modes-warning.js"></script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
             <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
             <script src="./js/bootstrap.min.js"></script>
             
             <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
             <script src="./js/ie10-viewport-bug-workaround.js"></script>
             <script src="./js/dicegame.js"></script>
        <title>Game Page</title>
    </head>
    <body>
        <header class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class='col-md-12'>
                        <h1>Dice Game</h1>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class='container'>
                <!-- Modal -->
                <div class="modal fade" id="myHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">INSTRUCTION</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                        - The player throws a pair of dice.<br/>
                                        - The sum of the two top faces is what matters so a 1 and a 3 is the 
                                        same as 2 and 2.<br/>
                                        - The sum of two 6-sided dice can be any number from 2 to 12. If the player throws
                                        a 7 or 11 on the first throw, the player wins. If the player throws a 2, 3, or 12, the player loses. For
                                        any other result (4, 5, 6, 8, 9, 10), this result is recorded as what is called the player's point and a
                                        follow-up throw is required.<br/>
                                        - On follow-up throws, a throw of 7 loses and a throw of the player's point wins. For anything else, the game continues with the follow-up throw rules. 
                                </p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                            </div>
                        </div>
                        </div>
                    </div>                
                    <div class="row" >
                        <div class="col-md-4" id="panelLeft">
                            <form id="formControl"> 
                                <div class="form-group">                                  
                                    <label >Stage: </label>
                                    <input  type="text" class="form-controll " name="stage" value="First throw"/>
                                </div>
                                <div class="form-group">   
                                    <label >Point: </label>
                                    <input type="text" class="form-controll" name="pv" value=""/>
                                </div>
                                <div class="form-group">  
                                    <label >Outcome: </label>
                                    <input type="text" class="form-controll" name="outcome" value=""/>
                                </div>
                                <div class="form-group">  
                                    <label >Bank roll: </label>
                                    <input type="text" class="form-controll" name="bank" value="100"/>
                                </div>
                                <div class="form-group">
                                    <button  class="btn btn-warning" id="throwDiceBtn"><b>THROW DICE</b></button>    
                                </div>                              
                            </from>
                        </div>
                        <div class="col-md-8" id="panelright">
                                <canvas id='canvas'  width="400" height="300">Your browser doesn't support the HTML5 element canvas</canvas>
                            </div>
                    </div>
                    
            </div>
        </main>
        <footer>
            <div class='container'>
                    <div class="row">
                            <div class="col-md-2">
                                    <a href="/" class="btn btn-success btn-sm" id="backBtn">&larr; Back</a>
                            </div>
                            <div class="col-md-8">
                                   <p><b>Copyright &copy; NGUYEN NGOC TAN 2017</b></p>
                            </div>
                            <div class="col-md-2">
                                    <button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#myHelp"><span class="glyphicon glyphicon-info-sign"> Help</span></button>
                            </div>
                    </div>
            </div>
        </footer>
    </body>
</html>