<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
             <!-- Bootstrap core CSS -->
             <link href="./css/bootstrap.min.css" rel="stylesheet">
             <!-- Bootstrap theme -->
             <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
             <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
             <link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">
             
             <link rel="stylesheet" href="./css/mainStyle.css">
             
     
     
             <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
             <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
             <script src="./js/ie-emulation-modes-warning.js"></script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
             <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
             <script src="./js/bootstrap.min.js"></script>
             
             <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
             <script src="./js/ie10-viewport-bug-workaround.js"></script>
        <title>Main Page</title>
    </head>
    <body>
        <header>
            <h1>My games</h1>
        </header>
        <main>
            <article>
                <p>The <a href="/DiceGame">Dice Game</a> presents the game called craps</p>
            </article>
            <article>
                <p>The <a href="/Cannonball">Cannon Ball</a> presents the game called craps</p>
            </article>
            <article>
                <p>The <a href="/Slingshot">Sling Shot</a> presents the game called craps</p>
            </article>
            <article>
                <p>The <a href="/Memory">Memory Game</a> presents the game called craps</p>
            </article>
            <article>
                <p>The <a href="/Quiz1">Quiz 1 Game</a> presents the game called craps</p>
            </article>
            <article>
            <p>The <a href="/Maze">Maze Game</a> presents the game called craps</p>
            </article>
        </main>
        <footer>

        </footer>
    </body>
</html>